@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css' rel='stylesheet' />
<style>
    #map {
        position: fixed;
        width: 80%;
        height: 80%;
        margin-top: 5%; /*set to a negative number 1/2 of your height*/
        margin-left: -3%; /*set to a negative number 1/2 of your width*/
    }

    .marker {
        background-image: url("/Content/mapbox-icon.png");
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
    }

  .mapboxgl-popup {
    max-width: 200px;
  }

  .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }
</style>

<script>
    var geojson = {
        "type": "FeatureCollection",
        "features": @Html.Raw((ViewData["Message"]))
        };
</script>

<div class="col-md-12" data-aos="fade-up" data-aos-delay="100">
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.css' type='text/css' />
    <div id='map' class="col-md-10"></div>

    <script>
        mapboxgl.accessToken = 'pk.';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v9',
            center: [144.99, -37.81],
            zoom: 13
        });

        map.addControl(new MapboxGeocoder({
            accessToken: mapboxgl.accessToken
        }));


        geojson.features.forEach(function (marker) {

            // create a HTML element for each feature
            var el = document.createElement('div');
            el.className = 'marker';
            console.log("Hello");
            // make a marker for each feature and add to the map
            new mapboxgl.Marker(el)
                .setLngLat(marker.geometry.coordinates)
                .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
                    .setHTML('<a href="/appointments/create/'+ marker.properties.id + '"><h3>' + marker.properties.name + '</h3></a><p>' + marker.properties.address + '</p>'))
                .addTo(map);
        });

    </script>

</div>
